.body {
  height: 95vh;
  overflow-x: hidden;
  background-image: url("../../Assets/LoginPage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login {
  color: #fff;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.loginBox {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 50px 0px;
  margin: auto;
  width: 50%;
  height: 500px;
  margin-top: 15vh;
  text-align: center;
}

.input {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #fff;
}

.button {
  margin-top: 80px;
  padding: 7px 50px;
  border-radius: 5px;
  background-color: #ccc;
  border: 1px solid #ccc;
  color: #fff;
}

@media (max-width: 575.98px) {
  .body {
    height: 100vh;
  }

  .loginBox {
    margin-top: 15vh;
    width: 350px;
  }
}
