#logo {
  width: 100%;
  height: auto;
}

.App {
  background-color: rgba(0, 0, 0, 0.8);
}

.header {
  text-align: center;
  padding: 12rem 1rem;
  margin-bottom: 3rem;
  background-image: url("./Assets/HeaderImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid #ccc;
}

.headerMain {
  color: #fff;
  font-size: 50px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.headerParagraph {
  margin-top: 40px;
  font-size: 25px;
  color: #fff;
  letter-spacing: 1.2px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Playfair Display", serif;
}

.icon {
  color: #fff;
  font-size: 30px;
  position: absolute;
  margin-top: 140px;
}

.icon:hover {
  color: #959595;
  cursor: pointer;
  transition: 0.3s;
}

@media (max-width: 575.98px) {
  .headerMain {
    font-size: 30px;
  }

  .headerParagraph {
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .link {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .navbarLogo {
    padding: 10px 20px;
  }
}
